<!DOCTYPE html>
<html>
  <head>
    <title>ViteRailsApp</title>
    <!--Vite クライアントをレンダリングして Hot Module Reload を有効にします-->
    <%# <%= vite_client_tag %> %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
